@import "__variables";
@import "__header";
@import "__menu";
@import "__analytics";
@import "__runningdata";
@import "__datepicker";
@import "__alarmhistory";
@import "__alarm";
@import "__chart";
@import "__dialogue";
@import "__login";
@import "__completepassword";
@import "__customalert";
@import "__index";
@import "__dashboard";
@import "__loading";
@import "__package";

.container {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.content {
  width: 100%;
  min-height: 100%;
}

.content_body {
  width: 100%;
  min-height: calc(100vh - 7rem);
  margin: 0 auto;
  background-color: var(--bodybg);
  padding: 10rem 0 0 0;
}

.index {
  width: 96%;
  height: calc(100vh - 20rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &__header {
    display: none; //検索窓を入れた段階で活用
  }
  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.location {
  width: 100%;
  background-color: var(--subbg);
  border: solid 1px var(--locationborder);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2rem;
  summary,
  &__head {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--accent-letter);
    background-color: var(--subbg);
    cursor: pointer;
    &::-webkit-details-marker {
      display: none;
    }
    &__title {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &__id {
        margin-right: 5rem;
        margin-left: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    &::after {
      margin: 1rem;
      transform: translateY(-25%) rotate(45deg);
      width: 7px;
      height: 7px;
      margin-right: 5rem;
      border-bottom: 3px solid var(--arrowindex);
      border-right: 3px solid var(--arrowindex);
      content: "";
      transition: transform 0.3s;
    }
  }
  &[open] {
    summary::after {
      transform: rotate(225deg);
    }
  }
  &__body {
    width: 100%;
    padding: 0 0 3rem 0;
    &.open {
      display: block;
    }
  }
}

.table {
  width: 96%;
  margin: 0 auto;
  overflow: auto;
  white-space: nowrap;
  &__body {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    &__thead {
      height: 5rem;
      text-align: left;
      font-size: 2rem;
      color: var(--locationtabletitle);
      &__tr {
        height: 5rem;
        &__th {
          padding-left: 1rem;
          min-width: 15rem;
          border-bottom: solid 1px var(--locationtabletitle);
          font-weight: 400;
          span {
            vertical-align: middle;
            margin-right: 4px;
          }
          &:last-child {
            border-left: 1rem solid var(--subbg);
          }
        }
      }
      &:after {
        content: "";
        height: 3rem;
        width: 100%;
        padding: 2px 0;
        display: block;
        background-color: var(--subbg);
      }
    }
    &__tbody {
      text-align: left;
      font-size: 2rem;
      color: var(--locationtableletter);
      &__tr {
        background-color: var(--subbg);
        &__td {
          padding: 0 0 1rem 0;
          height: 6rem;
          &:last-child {
            border-left: 2px solid var(--subbg);
          }
        }
      }
    }
  }
}

.status {
  padding: 1rem 4rem;
  width: fit-content;
  background-color: $mainaccent;
  color: $mainbg;
  &.run {
    background-color: $mainaccent;
    color: $mainbg;
  }
  &.chiller {
    background-color: $chiller;
    color: $mainbg;
  }
  &.stop {
    background-color: var(--stop);
    color: $mainbg;
  }
  &.alarm {
    background-color: $alarm;
    color: $mainbg;
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  a {
    padding: 1rem 4rem;
    margin-left: 2rem;
    background-color: var(--subbg);
    text-decoration: none;
    color: $mainaccent;
    cursor: pointer;
    &:hover {
      background-color: rgba($color: $mainaccent, $alpha: 0.2);
    }
  }
  &__button {
    padding: 1rem 4rem;
    margin-left: 2rem;
    background: var(--subbg);
    border: solid 1px $mainaccent;
    color: $mainaccent;
    cursor: pointer;
    &:hover {
      background-color: rgba($color: $mainaccent, $alpha: 0.2);
    }
  }
  &__checkboxarea {
    padding: 1rem 4rem 1rem 2rem;
    color: $mainaccent;
    accent-color: $mainaccent;
    label {
      margin-left: 1rem;
    }
    input {
      cursor: pointer;
    }
  }
}

.customdialogue {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  &__body {
    background-color: var(--mainbg);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.45);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    &__title {
      font-size: 2rem;
      margin-bottom: 3rem;
      width: 100%;
      &__main {
        font-size: 3rem;
        font-weight: 600;
        color: $mainaccent;
        text-align: center;
      }
      &__disc {
        font-weight: 400;
        text-align: center;
      }
    }
    &__datepick {
      margin-bottom: 1rem;
    }
    &__monthpick {
      margin-bottom: 1rem;
      select {
        height: 4.5rem;
        width: 30rem;
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        font-family:
          "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
          "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo",
          sans-serif;
        background-color: var(--mainbg);
        color: var(--letter);
        border: solid 1px $mainaccent;
      }
    }
    &__formatpick {
      font-size: 2rem;
      font-weight: 600;
      color: var(--letter);
      accent-color: $mainaccent;
      margin: 1rem auto;
      label {
        margin: 0 2rem;
      }
    }
    &__button {
      width: 50rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &__issue {
        width: 20rem;
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem 1rem;
        margin-top: 3rem;
        background-color: $mainaccent;
        border: solid 1px $mainaccent;
        color: $mainbg;
        cursor: pointer;
      }
      &__cancel {
        width: 20rem;
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem 1rem;
        margin-top: 3rem;
        background-color: var(--mainbg);
        color: var(--letter);
        border: solid 1px var(--letter);
        cursor: pointer;
      }
    }
  }
}

.loading {
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 99999;
  overflow: hidden;
  &.loaded {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  &__message {
    font-size: 2rem;
    color: var(--loadercolor);
    z-index: 999;
    position: fixed; /* 要素を固定位置に配置 */
    top: 30%; /* 上端を画面の中央に */
    left: 50%; /* 左端を画面の中央に */
    transform: translate(-50%, -50%); /* 要素の中央を画面の中央に移動 */
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  z-index: 999;
  transform: translate(-50%, -50%); /* 要素の中央を画面の中央に移動 */
}

.loader {
  margin: 60px auto;
  font-size: 15px;
  position: fixed;
  top: 35%;
  text-indent: -9999em;
  border-top: 1.1em solid var(--loaderothers);
  border-right: 1.1em solid var(--loaderothers);
  border-bottom: 1.1em solid var(--loaderothers);
  border-left: 1.1em solid var(--loadercolor);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1s infinite linear;
  animation: load8 1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.update__mini {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  p {
    font-size: 2rem;
  }
  &__button {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 3rem;
    width: 4rem;
    margin: 0 0 0 1rem;
    border-radius: 0.5rem;
    border: solid 0.5px #ccc;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
    .material-symbols-outlined {
      font-size: 2.5rem;
    }
  }
}

.custom-tooltip {
  background-color: var(--mainbg);
  padding: 10px;
  border: 1px solid var(--custmtt);
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
}

.puc {
  width: 100%;
  height: 100vh;
  padding: 25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 6rem;
  color: $letter;
  span {
    font-size: 10rem;
  }
}

.temp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--locationtableletter);
  &__block {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    &__side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;
      &__upper {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      &__lower {
        display: flex;
        flex-direction: row;
        justify-content: center;
        span {
          font-size: 2rem;
          font-weight: 900;
        }
      }
    }
    &__middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 2rem;
    }
  }
}

.indexgraph {
  width: 96%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  &__container {
    width: 48%;
    &__title {
      font-size: 2rem;
      height: 4rem;
      font-weight: 400;
      color: var(--locationtabletitle);
      border-bottom: solid 1px var(--locationtabletitle);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      span {
        vertical-align: middle;
        margin-right: 4px;
      }
      a {
        font-size: 3.5rem;
        margin-left: 2rem;
        text-decoration: none;
        color: $mainaccent;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .location {
    summary,
    &__head {
      padding: 2rem 0;
      font-size: 1.8rem;
      &__title {
        width: 95%;
        &__id {
          margin-right: 1rem;
          margin-left: 1rem;
          span {
            font-size: 2.5rem;
          }
        }
      }
      &::after {
        margin-right: 2rem;
      }
    }
    &__body {
      padding: 0 0 2rem 0;
    }
  }

  .table {
    margin: 1rem auto;
    &__body {
      &__thead {
        height: 4rem;
        font-size: 1.5rem;
        color: var(--locationtabletitle);
        &__tr {
          height: 4rem;
          &__th {
            span {
              font-size: 2rem;
            }
          }
        }
      }
      &__tbody {
        font-size: 1.5rem;
        &__tr {
          &__td {
            height: 5rem;
          }
        }
      }
    }
  }

  .status {
    padding: 1rem 2rem;
  }

  .temp {
    font-size: 1rem;
    &__block {
      padding: 0 1rem;
      &__side {
        &__lower {
          span {
            font-size: 1.5rem;
          }
        }
      }
      &__middle {
        font-size: 1.5rem;
      }
    }
  }

  .buttons {
    a {
      padding: 1rem 2rem;
      margin-left: 1rem;
    }
    &__button {
      padding: 1rem 2rem;
      margin-left: 1rem;
    }
  }

  .indexgraph {
    &__container {
      width: 100%;
      height: fit-content;
      &__title {
        font-size: 1.5rem;
        height: 4rem;
        align-items: center;
        a {
          font-size: 2.5rem;
          margin-left: 3rem;
        }
        span {
          font-size: 2.5rem;
        }
      }
    }
  }
}
